<div ng-controller="templateCtrl">
  <link rel="stylesheet" href="css/{{template}}.min.css">
  
<div class="container">
  <div class="page-header">
    <h1 class="text-center">Produkty</h1>
  </div>
  <div class="row">

    <div class="col-xs-3">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 text-right">
      <a href="#/admin/product/create" class="btn btn-success">Nowy produkt</a>
    </div>

  </div>
  <br /><br />
  <div class="row">
    <div class="col-sm-12">

      <div ng-repeat="product in products | filter : search">

        <div class="panel panel-default">
          <div class="panel-body">

            <h2>
              {{product.name}}
              <span class="label label-warning pull-right">cena: {{product.price | number:2}} zł</span>
            </h2>

            <h3><span class="label label-info">Waga: {{product.weight}} kg</span></h3>
            <br>

            <p>{{product.description}}</p>
            <br>

            <a href="#/admin/product/edit/{{product.id}}" class="btn btn-success">Edytuj</a>
            <button ng-click="delete( product , $index )" class="btn btn-danger pull-right">Usuń</button>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>